body{
    margin: 0;
    height: 200vh;
}
.full-screen{
   height: 100vh;
   width: 100vw;
}
.container{
    background-color: rgb(137, 188, 238);
    width: 800px ;
    height: 500px;
    margin: 50px 10px 10px 250px;
    position:fixed;
    display:flex;
}

.item{
    background-color: rgb(32, 5, 56);
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px;
    
}
.item:nth-of-type(2){
    transition: margin-top 2s 0.5s;
}
.item:nth-of-type(2):hover{
    margin-top: 150px;
}
.item:nth-of-type(4){
    position:absolute;
     right: 10px;
     bottom: 10px;

}
.item:nth-of-type(4):hover{
     height: 300px;
     width: 300px; 
     background-color: gray;
     transition: height 2s 0.5s , width 2s 0.5s ;
}
.btn{
  
    margin: 50px 50px  50px;
  
}

 .item-rotate{
    margin-left: 50px;
   
    transition: transform 2s ease-in-out;
       
}
.btn:focus ~ .item-rotate{
    transform: rotate(360deg);
}
